{
  "name": "controledevalidade",
  "displayName": "controledevalidade",

  "react-native-google-ads": {
    "android_app_id": "ca-app-pub-xxxxxxxx~xxxxxxxx",
    "ios_app_id": "ca-app-pub-xxxxxxxx~xxxxxxxx"
  }
}
